body {
    font-family: sans-serif;
    background-color: aqua;
  }
  
  .container {
    width: 300px;
    margin: 10px auto;
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    margin-bottom: 10px;
    color: blueviolet;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
  }
  
  button {
    background-color: rgb(236, 220, 220);
    color: rgb(241, 4, 4);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #result {
    margin-top: 10px;
    color: blue;
  }
  